@font-face {
    font-family: 'Roboto';
    src: url('../public/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    border: none;;
    font-size: 1rem;
}

html, body, #root {
    height: 100%;
    background-color: #F5F5F5;
}

#root {
    width: 100%;
    height: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    
}

h1 {
    font-weight: 900;
}

#header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.video {
    border-radius: 5px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(51,51,51,0.35); 
    box-shadow: 0px 4px 4px 0px rgba(51,51,51,0.35);
}

form {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(51,51,51,0.35); 
    box-shadow: 0px 4px 4px 0px rgba(51,51,51,0.35);
}

input {
    border: 1px solid rgba(51, 51, 51, 0.35); 
}

button {
    background-color: #008CBA;
    color: #ffffff;
    cursor: pointer;
}

#upload_header {
    cursor: pointer;
}

#faded_background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

#upload_file_container {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 9999; 
}

#close_popup {
    cursor: pointer;
    width: 100%;
    text-align: end;
}

#search_vid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/* 1080p screens */
@media screen and (min-width: 1920px) and (max-width: 2559px) {
    /* Styles for 1080p screens */
    #app {
        gap: 5rem;
    }

    #header-container {
        width: 63%;
    }

    main {
        width: 63%;
        gap: 2.5rem;
    }

    h1 {
        font-size: 3rem;
    }

    header {
        padding: 3em 0 3em 0;
    }

    .browse {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    form {
        height: 6.5rem;
        padding: 2rem;
    }

    #upload_file_container {
        padding: 2em 3em 2em 3em;
        width: 55em;
        height: 25em;
    }

    .browse {
        width: 33%;
    }

    .video {
        width: 67%;
    }
    
    #search_vid input {
        width: 80%;
    }

    #search_vid button {
        width: 20%;
    }

}

/* 2K screens */
@media screen and (min-width: 2560px) and (max-width: 3839px) {
    /* Styles for 2K screens */
    #app {
        gap: 5rem;
    }

    #header-container {
        width: 50%;
    }

    main {
        width: 50%;
        gap: 3rem;
    }

    h1 {
        font-size: 3rem;
    }

    header {
        padding: 3em 5em 3em 5em;
    }

    section {
        padding: 3em 5em 3em 5em;
    }

    #upload_file_container {
        padding: 2em 3em 2em 3em;
        width: 55em;
        height: 25em;
    }

    .browse {
        width: 20%;
    }

    .video {
        width: 80%;
    }

    #search_vid {
        font-size: 1.5em;
    }
    
    #search_vid input {
        width: 80%;
    }

    #search_vid button {
        width: 20%;
    }
}

/* 4K screens */
@media screen and (min-width: 3840px) {
    /* Styles for 4K screens */
}



#search_vid input, #search_vid button {
    padding: 0.5em;
}



